# Reproductibilité

In [1]:
import pandas as pd
%matplotlib inline
import numpy as np

In [2]:
filename = '../Penn_State_PA_2012.gzip'
df = pd.read_csv(filename, encoding='utf-8', compression='gzip', index_col='timestamp', parse_dates=True)
df.index = df.index.tz_localize('UTC').tz_convert('US/Eastern')

In [3]:
col_flag = df.columns[df.columns.str.endswith('_Flag')]
col_noflag = col_flag.str.replace('_Flag', '')
for i in col_noflag.values:
    df.loc[df[i + '_Flag'] > 0, i] = np.nan

## Importer un Python Package

In [2]:
import sys, os
sys.path.insert(1, os.path.join(sys.path[0], '..')) # nécessaire pour ajouter notre package au répertoire de Python

from pysurfrad.data import get_surfrad_data

En ajoutant le charactère `?` à la fin d'une fonction, on obtient le text d'aide

In [3]:
get_surfrad_data??

Il devient donc rapide de charger les données à partir du fichier csv existant. Advenant que le fichier n'existe pas, la fonction se chargera d'importer les données brutes et de créer le fichier csv

In [6]:
data = get_surfrad_data('../Penn_State_PA', year='2012', 
                        timezone='US/Eastern', 
                        clean_flaged_values=True)

HBox(children=(IntProgress(value=0, description='cleaning flags', max=20), HTML(value='')))

Comparons les deux méthodes

In [7]:
data.head()

,Year,Day number,Month,Day,Hour,Minute,dt,zen,dw_solar,dw_solar_Flag,...,temp,temp_Flag,rh,rh_Flag,windspd,windspd_Flag,winddir,winddir_Flag,pressure,pressure_Flag
2012-01-01 00:00:00-05:00,2012.0,1.0,1.0,1.0,5.0,1.0,5.017,162.07,-1.5,0.0,...,5.1,0.0,84.0,0.0,0.7,0.0,235.1,0.0,975.1,0.0
2012-01-01 00:01:00-05:00,2012.0,1.0,1.0,1.0,5.0,2.0,5.033,162.10,-1.5,0.0,...,5.1,0.0,84.3,0.0,0.6,0.0,224.4,0.0,975.1,0.0
2012-01-01 00:02:00-05:00,2012.0,1.0,1.0,1.0,5.0,3.0,5.050,162.14,-1.6,0.0,...,5.0,0.0,84.6,0.0,0.6,0.0,176.4,0.0,975.0,0.0
2012-01-01 00:03:00-05:00,2012.0,1.0,1.0,1.0,5.0,4.0,5.067,162.17,-1.6,0.0,...,5.0,0.0,84.8,0.0,0.8,0.0,171.2,0.0,975.0,0.0
2012-01-01 00:04:00-05:00,2012.0,1.0,1.0,1.0,5.0,5.0,5.083,162.19,-1.6,0.0,...,5.0,0.0,85.0,0.0,0.9,0.0,166.8,0.0,975.0,0.0

In [8]:
df.head()

,Year,Day number,Month,Day,Hour,Minute,dt,zen,dw_solar,dw_solar_Flag,...,temp,temp_Flag,rh,rh_Flag,windspd,windspd_Flag,winddir,winddir_Flag,pressure,pressure_Flag
timestamp,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00-05:00,2012,1,1,1,5,1,5.017,162.07,-1.5,0,...,5.1,0,84.0,0,0.7,0,235.1,0,975.1,0
2012-01-01 00:01:00-05:00,2012,1,1,1,5,2,5.033,162.10,-1.5,0,...,5.1,0,84.3,0,0.6,0,224.4,0,975.1,0
2012-01-01 00:02:00-05:00,2012,1,1,1,5,3,5.050,162.14,-1.6,0,...,5.0,0,84.6,0,0.6,0,176.4,0,975.0,0
2012-01-01 00:03:00-05:00,2012,1,1,1,5,4,5.067,162.17,-1.6,0,...,5.0,0,84.8,0,0.8,0,171.2,0,975.0,0
2012-01-01 00:04:00-05:00,2012,1,1,1,5,5,5.083,162.19,-1.6,0,...,5.0,0,85.0,0,0.9,0,166.8,0,975.0,0